.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#things-to-do {
  width: 50%;
  margin: 0 auto;
  margin-top: 200px;
  border: 1px solid #eee;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}
.section{
  text-align: left;
  padding: 20px;
}

.section h2{
  color: #aaa;
  font-weight: 500;
}

.section hr{
  color: #ddd;
  font-weight: 500;
}

table.list-forms {
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.list-forms th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.custom-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.custom-nav li {
  float: left;
}

.custom-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.custom-nav li a:hover {
  background-color: #111;
}

.site-layout-content {
  min-height: 90vh;
  padding: 24px;
  margin: 100px 0px;
  background: #fff;
}

.ant-layout-footer.footer {
  background: #001529;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}











.top{
  padding-top: 50px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

}

.icon{
  padding: 50px;

  display:flex;
 
  flex-direction:row;
  
 
  padding-bottom: 50px;
}
i{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  margin-right: 15px;
}
.h2{
 
  display: flex;
  /* align-items:center; */
}


/* Buatlah styling section container dan card dibawah ini */

.container_img{

      display: grid;
      grid-template-columns:1fr 1fr 1fr;
      column-gap: 30px;
      width:100%;
      padding: 20px;

      row-gap: 40px;
      background-color:rgb(201, 195, 195);
  

}

img{
  width:400px;
}
.card{
  /* border: 2px solid black; */
  float: left;

  min-height: 100px;


  width: 400px;

  font-size: 20px;
  background-color:white;

 


}

.description{
  width:100%;
  padding: 5px;
}

/* Aturlah breakpoint dibawah ini menggunakan media queries agar responsive */




.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .container_img{
      grid-template-columns:1fr ;

  }
  
}
  

@media screen and (min-width: 600px) {
  .container_img{
      grid-template-columns:1fr 1fr;

  }
  
}

@media screen and (min-width: 1200px) {
  .container_img{
      grid-template-columns:1fr 1fr 1fr;

  }
  
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
